@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-image: url("https://i.imgur.com/HcQ0Q5s.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000606;
}
